<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        <p class="view"><a href="https://www.linkedin.com/in/scott-snow/">View My LinkedIn Profile</a></p>
        {% endif %}

        <p class="view"><a href="">View My LinkedIn Profile</a></p>
        
        <h2>Skills</h2>
          <details open>
            <summary>Programming Languages</summary>
            <ul>
              <li>C#</li>
              <li>Python</li>
              <li>SQL</li>
              <li>JavaScript</li>
              <li>VBA</li>
            </ul>
          </details>
          <details>
            <summary>Platforms</summary>
            <ul>
              <li>GitHub</li>
              <li>Azure DevOps</li>
              <li>Azure</li>
              <li>Jira</li>
              <li>SSIS</li>
            </ul>
          </details>
          <details>
            <summary>Libraries/Frameworks</summary>
            <ul>
              <li>MVC/.NET</li>
              <li>Django</li>
              <li>jQuery</li>
              <li>Angular (personal only)</li>
              <li>React (personal only)</li>
              <li>Robot Framework</li>
              <li>Selenium</li>
            </ul>
          </details>
          <details>
            <summary>Concepts</summary>
            <ul>
              <li>CI/CD</li>
              <li>REST API</li>
            </ul>
          </details>

        
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
